<!DOCTYPE html>
<html lang="en" ng-app="hackerearth">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Codetable</title>
    <link rel="stylesheet" href="assests/css/style.css">
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-route.js"></script>
    <script src="app.js"></script>
</head>

<body data-ng-controller="CodeTableController">
<div class="bl-page">
    <div class="left">
        <div class="editor-container">
            <div class="editor-extras">
                <div class="float-left select-lang">
                    <select name="repeatSelect" id="repeatSelect" ng-model="selectLanguage" ng-change="getCode(selectLanguage)">
                        <option ng-repeat="option in availableOptions" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div><!-- select-lang-->
                <div class="clear"></div>
            </div><!-- editor-extras -->

            <!-- commentttt -->
            <pre id="editor" style="height: 300px;">#include &lt;stdio.h&gt;
int main()
{
    printf("Hello World!\n");
    return 0;
}
            </pre>
            <!-- commentttt -->

        </div><!-- editor-container -->
        <div class="test-input-check medium-margin">
            <input name="test-input-checkbox" type="checkbox" ng-model="testInput">
            <span class="test-input-checkbox-text body-font light">Use custom input for testing your code</span>
            <div class="test-input-container medium-margin" ng-show="testInput">
                <textarea id="test-input" class="nice-textarea" ng-model="testInputText"></textarea>
            </div>
            <hr class="hr">
        </div><!-- test-input-check-->
        <div class="compile-and-test">
            <div class="float-right medium-margin-left">
                <button type="button" class="button btn-green" ng-click="compileAndRun(editor.getValue())">Compile and Run</button>
            </div>
            <div class="clear"></div>
        </div> <!-- compile and test -->
        <div class="dots-loader"></div>
        <div id="run-result" class="medium-margin body-font">
            <div ng-show="compiling">Compiling...</div>
            <div class="error-output"></div>
            <div id="output" class="output" ng-show="viewResult">
                <div class="content-heading-bold" ng-show="compilation">Compilation Log</div>
                <hr class="hr" ng-show="compilation">
                <div class="less-margin body-font compile-error-message medium-margin-bottom" replacedata="false" ng-show="compilation">{{data.compile_status}}</div>
                <div replacedata="false" class="content-heading-bold">Output</div>
                <hr class="hr">
                <div class="less-margin">
                    <pre>{{data.run_status.output}}</pre>
                </div>
                <div class="content-heading-bold medium-margin">Input</div>
                <hr class="hr">
                <div class="less-margin">

                    <pre class="light">{{testInputText}}</pre>

                </div>
                <div class="float-left col">
                    <div class="content-heading-bold"> Log ID: 11309266
                    </div>
                    <div class="less-margin body-font dark"> {{date | date:'yyyy-MM-dd'}}
                    </div>
                </div>
                <div class="float-left col">
                    <div class="content-heading-bold">Time (sec)
                    </div>
                    <div class="less-margin body-font dark">{{data.run_status.time_used}}
                    </div>
                </div>
                <div class="float-left col">
                    <div class="content-heading-bold"> Memory (KB)
                    </div>
                    <div class="less-margin body-font dark">{{data.run_status.memory_used}}
                    </div>
                </div>
                <div class="float-left col">
                    <div class="content-heading-bold"> Status
                    </div>
                    <div class="less-margin body-font dark"> {{data.run_status.status}}
                    </div>
                </div>
                <div class="float-left col">
                    <div class="content-heading-bold"> Status Detail
                    </div>
                    <div class="less-margin body-font dark"> {{data.run_status.status_detail}}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            </div>
        </div><!-- left -->
    <div class="right">
        <div class="share-url standard-margin">
            <div class="right-panel-heading">
                Share URL
            </div>
            <hr class="hr">
            <div class="clear"></div>
            <div class="generate-public-url button btn-gray float-left" ng-click="share();"> Generate Public url </div>
            <div class="clear"></div>
            <div class="result">
                <div class="result-read-only less-margin-2" ng-show="shareUrl">
                    <a href="{{full_url}}" target="_blank" class="result-read-only-url">{{full_url}}</a>
                </div>
            </div>

        </div>
    </div> <!-- right -->
    <div class="clear"></div>
</div><!--page-->



<script src="vendor/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    var code = editor.getValue();
</script>


</body>
</html>



